<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>SupCom Hub Login</title>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <style type="text/css">
    html{
      min-height: 100%;
    }

    body {
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-image: url("login_background.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .login-card {
      padding: 40px;
      width: 274px;
      background-color: #F7F7F7;
      margin: 0 auto 10px;
      border-radius: 2px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .login-card h1 {
      font-weight: 100;
      text-align: center;
      font-size: 2.3em;
    }

    .login-card input[type=submit] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      position: relative;
    }

    .login-card input[type=text], input[type=password] {
      height: 44px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-top: 1px solid #c0c0c0;
      /* border-radius: 2px; */
      padding: 0 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .login-card input[type=text]:hover, input[type=password]:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .login {
      text-align: center;
      font-size: 14px;
      font-family: 'Arial', sans-serif;
      font-weight: 700;
      height: 36px;
      padding: 0 8px;
      /* border-radius: 3px; */
      /* -webkit-user-select: none;
      user-select: none; */
    }

    .login-submit {
      /* border: 1px solid #3079ed; */
      border: 0px;
      color: #fff;
      text-shadow: 0 1px rgba(0, 0, 0, 0.1);
      background-color: #00B152;
      /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed)); */
    }

    .login-submit:hover {
      /* border: 1px solid #2f5bb7; */
      border: 0px;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3);
      background-color: #007e3a;
      border-color: #005a2a;
      /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8)); */
    }

    .login-card a {
      text-decoration: none;
      color: #666;
      font-weight: 400;
      text-align: center;
      display: inline-block;
      opacity: 0.6;
      transition: opacity ease 0.5s;
    }

    .alert {
      color: darkred;
    }
  </style>
</head>
<body>
<div class="login-card">
  <h1>Login</h1>

  <p th:if="${param.client_id}">
    <b th:text="${@OAuthClientDetailsService.getClientNameById(param.client_id)}"></b> asks your login to SupCom Hub.
  </p>

  <form name="f" th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf != null }"/>
    <div th:switch="${param.error[0]}" th:unless="${param.error == null}" class="alert alert-error">
      <p th:case="'serverError'">A server error occurred. Please contact an administrator.</p>
      <p th:case="'badCredentials'">Invalid username or password.</p>
      <p th:case="'locked'">Your account is currently locked. If you are unsure why or for how long, please contact a
        moderator.</p>
      <p th:case="'unknown'">Login failed for unknown reason, please contact an administrator.</p>
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
      <p>You have been logged out.</p>
    </div>
    <input type="text" id="username" name="username" placeholder="Email"/>
    <input type="password" id="password" name="password" placeholder="Password"/>
    <input type="submit" name="login" class="login login-submit" value="Log in"/>
  </form>

  <div class="login-help">
    <a href="https://www.supcomhub.org/account/password/reset">Forgot Password</a>
  </div>
</div>
</body>
</html>
